

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  {{> header}}
  
{{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->

<body>
  <style>
    html,body { 
    height: 100%; 
}

.global-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ab9f;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
    font-size: 14px;
    margin-top:20px;
}


.login-form{ 
    width:330px;
    margin:20px;
}

.sign-up{
    text-align:center;
    padding:20px 0 0;
}

.alert{
    margin-bottom:-30px;
    font-size: 13px;
    margin-top:20px;
}
    </style>
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Log in to Admin</h3>
            <div class="card-text">
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form>
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control form-control-sm" id="name"  required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <!-- <a href="#" style="float:right;font-size:12px;">Forgot password?</a> -->
                        <input type="password" class="form-control form-control-sm" id="password" required>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" id="login">login</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{{> footer}}
</body>
</html>
