{{> header}}
<link rel="stylesheet" href="css/style.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="style.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
  <div class="row">
    <div class="col-md-3 col-sm-4 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>SevenAdvancedAcademy</p>
      <button type="submit" class="btn btn-warning" name=""><a href="/">LOGOUT </a> </button><br />
    </div>

    <div class="col-md-9 register-right">
        
      <div class="tab-content" id="myTabContent">

        <!-- for student registration *** by default this rendered because of the class active on the first div -->

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading"> Register Students on our  Management System </h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name *" value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name *" value="" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Date Of Birth *" value="" />
              </div>
              <div class="form-group">
                <div class="maxl">
                  <label class="radio inline">
                    <input type="radio" name="gender" value="male" checked>
                    <span> Male </span>
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="gender" value="female">
                    <span>Female </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">

              <div class="form-group">
                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                  placeholder="Your Phone *" value="" />
              </div>
              <div class="form-group">
                <input type="file" class="form-control" placeholder="upload image *" value="" />
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
              </div>
              <input type="submit" class="btnRegister" value="Register" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{{!-- {{> footer}} --}}