/* 
body{
    background:rgb(238, 233, 233);
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 800;
  }
  
  /* Navbar */
  .navbar{
    min-height: 33px !important;
    margin-bottom:0;
    border-radius:0;
  }
  
  .navbar-nav > li > a, .navbar-brand{
    padding-top:6px !important;
    padding-bottom:0 !important;
    height: 33px;
  }
  
  .navbar-default {
     background-color: #00ab9f !important;
    /*border-color: #5e3d98 !important; */
    /* background: -webkit-linear-gradient(left, #00ab9f, )) !important; */
  }
  .navbar-default .navbar-brand {
    color: #f89623;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-text {
    color: #f89623;
  }
  .navbar-default .navbar-nav > li > a {
    color: #f89623;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .navbar-default .navbar-toggle {
    border-color: #c0392b;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f89623;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #f89623;
  }
  .navbar-default .navbar-link {
    color: #f89623;
  }
  .navbar-default .navbar-link:hover {
    color: #ffbbbc;
  }
  
  /* .orange {
    background-color: #f89623 !important;
  } */
  .well_1 {
    background-color: #00ab9f !important;
    color: #fff;
    
  }
  .well_2 {
    background-color: #52898b !important;
    
  }
  .well_3 {
    background-color: #f89623 !important;
  
  }
  .well_4 {
    background-color: #5e3d98 !important;
  }
  
  
  
  /* Custom */
  .main-color-bg{
    background-color: #f89623 !important;
    border-color: #00ab9f !important;
    color:#52898b !important;
  }
  
  /* Header */
  #header{
    background:#333333;
    color:#f89623;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  #header .create{
    padding-top: 20px;
  }
  
  /* Breadcrumb */
  .breadcrumb{
    background:#cccccc;
    color:#333333;
  }
  
  .breadcrumb a{
    color:#333333;
    text-align: center !important;
  }
  
  /* Progress Bars */
  .progress-bar{
    background:#333333;
    color:#ffffff;
  }
  
  .dash-box{
    text-align:center;
  }
  
  #login{
    margin-top:30px;
  }
  
  /* Footer */
  #footer{
    background: #00ab9f;
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
  }
  .well{
    font-size: 25px;
    
  }
  .well:hover {
    background-color: #ffffff;
    color: black;
    font-size: larger;
    font-weight: 900;
  }
  .suh_head {
    font-size: 30px;
    text-transform: capitalize;
     font-weight: 900;
  }
  
  .text-color strong {
    color: orange !important;
    font-weight: 900;
    font-size: 30px;
  }
  .text-color small {
      color: black !important;
      font-weight: 700;
      font-size: 25px;
  }
  /* #navbarNav{
      margin-left: 40px;
      background: blue;
      padding-right: 40px;
  } */
  .navi{
      float: right;
        color: white;
        
    }
    .activeBar{
        
        background: #f89623;
    }

.span1{
    background: #00ab9f;
}
.span2{
    background: #52898b;
}
.span3{
    background: #f89623;
}
.span4{
    background: #5e3d98;
}



  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #f89623;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffbbbc;
      background-color: #c0392b;
    }
  }
   