
.register{
    background: -webkit-linear-gradient(left, #00ab9f, #52898b);
    margin-top: 3%;
    padding: 9%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left button{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f89623;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
    background: #f89623;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 4%;
    background: #f89623;
    color: #fff;
    font-weight: 700;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #f89623;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.link{
    background-color: #00ab9f;
    border-radius: 50%;
    margin-right: 2px;
}
.link:hover{
    background-color: chocolate;
    border-radius: 50px;
    color : white
}
 a .href{
    text-decoration: none;
    color: #fff;
 }

 /* for the landing page */

 .img {
    width: 200px;
    height: 70px;
  }
  span {
    font-style: italic;
  }
  .btns{
      border-radius: 50px;
  }

  /* Container holding the image and the text */
.contain {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../seven.jpg');
    background-repeat: no-repeat;
   background-size: cover;
}
  /* Centered text */

  .arrange-text{
      font-weight: 900;
      font-size: 50px;
      color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
  }
  .btn1 {
      background-color: steelblue;
      color: white;
      /* margin-right: 50px; */
      font-size: 20px;
      margin-top: 40px;
      font-weight: 900;
      border-radius: 50px;
  }
  .btn2 {
    background-color: orange;
    color: white;
    /* margin-left: 50px; */
    font-size: 20px;
    margin-top: 40px;
    border-radius: 50px;
    font-weight: 900;
}

@media screen and (max-width: 990px){
    .home-nav-item{
        width: 7rem;
        text-align: center;
    }
}
